@media (max-width: 426px) {
  @import url("//cdn.web-fonts.ge/fonts/alk-tall-mtavruli/css/alk-tall-mtavruli.min.css");
  body {
    padding-top: 132px;
  }
  header{
    padding-bottom: 0px !important;
  }
  /* HEADER */
  .headerwords, .active {
    font-size: 20px;
  }
  .logo1 {
    width: 45px !important;
    height: 45px !important;
    margin-left: 10px !important;
    margin-top: -10px;
  }

  nav ul {
    flex-direction:row;
    margin-left: -10px !important;
    margin-top: 5px;
  }
  nav li{
    margin-right: 10px;
  }
.carousel-slide {
  width: 100%;
  max-width: 100%;
  height: 100px;
}

.w-100 {
  width: 100%;
  height: 200px !important;
  display: block;
}

.txt1 {
  position: absolute;
  top: 65% !important;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  font-size: 40px !important;
}

  .content-wrapper {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .carousel-control-prev-icon{
    margin-top: -180px;
  }
  .carousel-control-next-icon{
    margin-top: -180px;
  }
  .main-image {
    width: 200px;
  }

  .overlay-image {
    width: 70%;
    bottom: -30px;
    left: 35%;
  }

  .txtbox {
    margin-left: 0;
    margin-top: -500px !important;
    width: 100%;
    text-align: center;
  }

  .section2txt {
    font-size: 40px;
    margin-top: 70px !important;
  }

  .titlediv {
    width: 426px !important;
    border-radius: 0px;
    height: 75px;
    padding: 10px;
    margin: 20px auto;
    margin-top: -20px;
  }
  .imgcontainer{
    width: 275px;
  }
  .top-image{
    width: 100%;
  }

  .title {
    font-size: 35px;
    text-align: center;
  }
  .clock{
    margin-top: 320px;
  }
  /* FOOTER */
  .bottom {
    height: auto;
    padding: 20px;
    text-align: center;
  }


  .line1,
  .line2,
  .liltxt,
  .logo2 {
    display: block;
    margin: 10px auto;
  }

  .line1-p,
  .line1-p-2,
  .line2-p,
  .line2-p-2 {
    font-size: 18px;
    margin: 5px 0;
  }

  .logo-tbc,
  .logo-geolab {
    height: 30px;
    width: auto;
    margin: 5px;
  }

  .line {
    display: none;
  }
}

@media (max-width: 770px) {
  @import url("//cdn.web-fonts.ge/fonts/alk-tall-mtavruli/css/alk-tall-mtavruli.min.css");
  body {
    padding-top: 80px;
  }
   header{
    padding-bottom: 0px !important;
  }
  /* HEADER */
  .headerwords, .active {
    font-size: 20px;
  }
  .logo1 {
    width: 45px !important;
    height: 45px !important;
    margin-left: 10px !important;
  }

  nav ul {
    flex-direction:row;
    margin-left: -10px !important;
    margin-top: 15px;
  }
  nav li{
    margin-right: 10px;
  }

.carousel-slide {
  width: 100%;
  max-width: 100%;
  height: 100px;
}

.w-100 {
  width: 100%;
  height: 384px;
  display: block;
}

.txt1 {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  font-size: 50px;
}
.carousel-control-next-icon{
  margin-bottom: 200px;
}
.carousel-control-prev-icon{
  margin-bottom: 200px;
}
  .content-wrapper {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .main-image {
    width: 300px;
  }

  .overlay-image {
    width: 70%;
    bottom: -30px;
    left: 35%;
  }

  .txtbox {
    margin-left: 0;
    margin-top: -500px;
    width: 100%;
    text-align: center;
  }

  .section2txt {
    font-size: 60px;
    margin-top: 250px;
  }

  .titlediv {
    width: 768px;
    border-radius: 0px;
    height: 85px;
    padding: 10px;
    margin: 20px auto;
    margin-top: -20px;
  }
  .imgcontainer{
    width: 275px;
  }
  .top-image{
    width: 100%;
  }

  .title {
    font-size: 50px;
    text-align: center;
  }
  .clock{
    margin-top: 320px;
  }
  /* FOOTER */
  .bottom {
    height: auto;
    padding: 20px;
    text-align: center;
  }


  .line1,
  .line2,
  .liltxt,
  .logo2 {
    display: block;
    margin: 10px auto;
  }

  .line1-p,
  .line1-p-2,
  .line2-p,
  .line2-p-2 {
    font-size: 18px;
    margin: 5px 0;
  }

  .logo-tbc,
  .logo-geolab {
    height: 30px;
    width: auto;
    margin: 5px;
  }

  .line {
    display: none;
  }
}
