@import url("//cdn.web-fonts.ge/fonts/alk-tall-mtavruli/css/alk-tall-mtavruli.min.css");
body {
	background-color: #2456ca !important;
    padding-top: 120px;
}
header {
	background-color: #273bf0;
	padding: 20px 0;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 100;
}
.active{
    text-decoration: none !important;
	color: #fff428 !important;
	text-transform: uppercase;
	font-size: 35px;
	font-weight: 550;
    font-family: "ALK Tall Mtavruli", sans-serif;
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}
.active::after {
    text-decoration: none;
  content: "";
  position: absolute;
  width: 0%;
  height: 4px;
  bottom: -5px;
  left: 0;
  background-color: #fff428;
  transition: width 0.3s ease-in-out;
}
.active:hover::after {
  width: 100%;
}

.navigation{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.headerwords {
    text-decoration: none !important;
	color: rgb(255, 255, 255) !important;
	text-transform: uppercase;
	font-size: 35px;
	font-weight: 550;
    font-family: "ALK Tall Mtavruli", sans-serif;
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.headerwords::after {
    text-decoration: none;
  content: "";
  position: absolute;
  width: 0%;
  height: 4px;
  bottom: -5px;
  left: 0;
  background-color: #fff428;
  transition: width 0.3s ease-in-out;
}

.headerwords:hover::after {
  width: 100%;
}

.logo1{
	height: 80px;
	width: 80px;
}
li {
	margin-right: 40px;
}

ul{
  display: flex;
}
.burger-icon{
  display: none;
}
.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  gap: 20px;
}

/* Flip card layout (photo right, card left) */
.content-wrapper.reverse {
  flex-direction: row-reverse;
}

/* Outside image */
.photo-outside {
  width: 250px;
  height: 360px;
  margin-top: 50px;
  border: 5px solid #ffffff;
}
.photo-outside2 {
  width: 250px;
  height: 380px;
  margin-top: 50px;
  border: 5px solid #ffffff;
}

/* Gray card */
.gray {
  background-color: #c8c8c8;
  width: 790px;
  height: 595px;
  margin-left: 200px;
  margin-top: 30px;
  border: 5px solid #ffff19;
  box-shadow: 0 50px 70px rgba(0, 0, 0, 0.422);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
  position: relative;
  z-index: 0;
    font-family: "ALK Tall Mtavruli", sans-serif;
}

.gray2 {
  background-color: #c8c8c8;
  width: 790px;
  height: 690px;
  margin-right: 200px;
  margin-top: 30px;
  border: 5px solid #ffff19;
  box-shadow: 0 50px 70px rgba(0, 0, 0, 0.422);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
  position: relative;
  z-index: 0;
    font-family: "ALK Tall Mtavruli", sans-serif;
}

/* Inside layout */

.card-inside-img {
  width: 780px;
  height: 300px;
  object-fit: cover;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 10px;
}
.card-inside-img2 {
  width: 780px;
  height: 330px;
  object-fit: cover;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 10px;
}


.card-title {
  font-size: 23px;
  color: #3f4145;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.toptxt{
  font-size: 23px;
  font-weight: 600;
}
.txt {
  font-size: 21px;
  font-weight: 500;
  color: #000308;
  margin-top: 2px ;
}

.bottom {
  height: 250px;
  width: 100%;
  background-color: #02204f;
}

.line1 {
  display: inline-block;
  vertical-align: top;
}

.line1-p {
  margin-left: 137px;
  margin-top: 60px;
  font-size: 25px;
  font-family: "ALK Tall Mtavruli", sans-serif;
  font-weight: 700;
  color: #ffffff;
}

.line1-p-2 {
  margin-left: 137px;
  margin-top: 14px;
  font-size: 25px;
  font-family: "ALK Tall Mtavruli", sans-serif;
  font-weight: 700;
  color: #ffffff;
}

.liltxt{
  display: inline-block;
  vertical-align: top;
  margin-left: 112px;
  margin-top: 60px;
}

.phrase {
  font-size: 12px;
  font-family: "ALK Tall Mtavruli", sans-serif;
  font-weight: 400;
  color: white;
}

.logo2{
	display: inline-block;
	vertical-align: text-top;
	margin-left: 100px;
	margin-top: 120px;
}

.logo-tbc{
	display: inline-block;
	vertical-align: top;
height: 40px;
width: 110px;
}
.logo-geolab{
  vertical-align: top;
  height: 40px;
  width: 30px;
  
}
.line {
  display: inline-block;
  height: 40px;
  width: 5px;
  background-color: rgb(255, 255, 255);
  margin-left: 15px;
  margin-right: 15px;
  
}
.line2 {
  display: inline-block;
  vertical-align: top;
}

.line2-p {
  margin-left: 96px;
  margin-top: 60px;
  font-size: 25px;
  font-family: "ALK Tall Mtavruli", sans-serif;
  font-weight: 700;
  color: #ffffff;
}

.line2-p-2 {
  margin-left: 96px;
  margin-top: 14px;
  font-size: 25px;
  font-family: "ALK Tall Mtavruli", sans-serif;
  font-weight: 700;
  color: #ffffff;
}
