@import url("//cdn.web-fonts.ge/fonts/alk-tall-mtavruli/css/alk-tall-mtavruli.min.css");
body {
	background-color: #2456ca !important;
    padding-top: 80px;
}
header {
	background-color: #273bf0;
	padding: 20px 0;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 100;
}

.navigation{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.active{
      text-decoration: none !important;
	color: rgb(255, 226, 40) !important;
	text-transform: uppercase;
	font-size: 35px;
	font-weight: 550;
    font-family: "ALK Tall Mtavruli", sans-serif;
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}
.active:after {
    text-decoration: none;
  content: "";
  position: absolute;
  width: 0%;
  height: 4px;
  bottom: -5px;
  left: 0;
  background-color: #fff428;
  transition: width 0.3s ease-in-out;
}

.active:hover::after {
  width: 100%;
}
.headerwords {
    text-decoration: none !important;
	color: rgb(255, 255, 255) !important;
	text-transform: uppercase;
	font-size: 35px;
	font-weight: 550;
    font-family: "ALK Tall Mtavruli", sans-serif;
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.headerwords::after {
    text-decoration: none;
  content: "";
  position: absolute;
  width: 0%;
  height: 4px;
  bottom: -5px;
  left: 0;
  background-color: #fff428;
  transition: width 0.3s ease-in-out;
}

.headerwords:hover::after {
  width: 100%;
}

.logo1{
	height: 80px;
	width: 80px;
}
li {
	margin-right: 40px;
}

ul{
  display: flex;
}
.burger-icon{
  display: none;
}

.title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
}

.pics {
  margin-top: 40px;
}

.left {
	display: inline-block;
 	vertical-align: top;
	width: 758px;
	margin-left: 60px;
}

.right {
  display: inline-block;
  vertical-align: top;
  width: 362px;
  margin-left: 60px;
}
.left2 {
	display: inline-block;
 	vertical-align: top;
	width: 758px;
	margin-left: 60px;
}
.right2 {
  display: inline-block;
  vertical-align: top;
  width: 362px;
  margin-left: 60px;
}

.big-img2 {
  width: 758px;
  height: 430px;
  margin-top: 30px;
  border-radius: 15px;
  border: 5px solid yellow;
    box-shadow: 0 50px 70px rgba(0, 0, 0, 0.422);
}

.small-img {
  width: 362px;
  height: 212px;
  margin-bottom: 20px;
  border-radius: 15px;
  border: 5px solid rgb(14, 14, 125);  
  box-shadow: 0 50px 70px rgba(0, 0, 0, 0.422);
}

.bridge-wrapper {
  position: relative;
  display: inline-block;
  width: 758px;
  height: 430px;
  margin-bottom: 20px;
}

.big-img1 {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 15px;
  border: 5px solid yellow;
    box-shadow: 0 50px 70px rgba(0, 0, 0, 0.422);
}

.image-row {
  display: flex;
  gap: 20px; /* space between images */
  justify-content: center; /* or flex-start / space-between */
  align-items: center;
}

.img-side1 {
  width: 700px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  border: 5px solid rgb(14, 14, 125);
}
.img-side2 {
  width: 700px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  border: 5px solid yellow;
}
.titlediv {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #002aff;
  border: 5px solid yellow;
  padding: 30px 40px;
  border-radius: 25px;
  margin-bottom: 40px;
  margin-left: 110px;
  margin-top: 60px;
  width: 1300px;
  height: 90px;
}

.title {
  text-decoration: none !important;
  padding: 15px 20px;
  font-size: 55px;
  font-weight: 600;
  text-align: center;
  font-family: "ALK Tall Mtavruli", sans-serif;
  text-decoration: none ;
  color: #fff30f;
}
.titlediv1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bbbaf8;
  border: 5px solid rgb(14, 14, 125);
  padding: 30px 40px;
  border-radius: 25px;
  margin-bottom: 40px;
  margin-left: 110px;
  margin-top: 60px;
  width: 1300px;
  height: 90px;
}
.title1 {
  text-decoration: none !important;
  padding: 15px 20px;
  font-size: 55px;
  font-weight: 600;
  text-align: center;
  font-family: "ALK Tall Mtavruli", sans-serif;
  text-decoration: none ;
  color: #0f1bff;
}
.titlediv2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #feef25;
  border: 5px solid rgb(12, 36, 135);
  padding: 30px 40px;
  border-radius: 25px;
  margin-bottom: 40px;
  margin-left: 110px;
  margin-top: 60px;
  width: 1300px;
  height: 90px;
}
.title2 {
  text-decoration: none !important;
  padding: 15px 20px;
  font-size: 55px;
  font-weight: 600;
  text-align: center;
  font-family: "ALK Tall Mtavruli", sans-serif;
  text-decoration: none ;
  color: #0f1bff;
}
.spectitlediv1{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 5px solid rgb(255, 210, 47);
  padding: 30px 40px;
  border-radius: 25px;
  margin-bottom: 40px;
  margin-left: 110px;
  margin-top: 60px;
  width: 1300px;
  height: 90px;
}
.spectitle1{
  text-decoration: none !important;
  padding: 15px 20px;
  font-size: 55px;
  font-weight: 600;
  text-align: center;
  font-family: "ALK Tall Mtavruli", sans-serif;
  text-decoration: none ;
  color: #ff0f0f;
}
.bottom {
  height: 250px;
  width: 100%;
  background-color: #02204f;
}

.line1 {
  display: inline-block;
  vertical-align: top;
}

.line1-p {
  margin-left: 137px;
  margin-top: 60px;
  font-size: 25px;
  font-family: "ALK Tall Mtavruli", sans-serif;
  font-weight: 700;
  color: #ffffff;
}

.line1-p-2 {
  margin-left: 137px;
  margin-top: 14px;
  font-size: 25px;
  font-family: "ALK Tall Mtavruli", sans-serif;
  font-weight: 700;
  color: #ffffff;
}

.liltxt{
  display: inline-block;
  vertical-align: top;
  margin-left: 112px;
  margin-top: 60px;
}

.logo2{
	display: inline-block;
	vertical-align: text-top;
	margin-left: 100px;
	margin-top: 120px;
}

.logo-tbc{
	display: inline-block;
	vertical-align: top;
height: 40px;
width: 110px;
}
.logo-geolab{
  vertical-align: top;
  height: 40px;
  width: 30px;
  
}
.line {
  display: inline-block;
  height: 40px;
  width: 5px;
  background-color: rgb(255, 255, 255);
  margin-left: 15px;
  margin-right: 15px;
  
}
.line2 {
  display: inline-block;
  vertical-align: top;
}

.line2-p {
  margin-left: 96px;
  margin-top: 60px;
  font-size: 25px;
  font-family: "ALK Tall Mtavruli", sans-serif;
  font-weight: 700;
  color: #ffffff;
}

.line2-p-2 {
  margin-left: 96px;
  margin-top: 14px;
  font-size: 25px;
  font-family: "ALK Tall Mtavruli", sans-serif;
  font-weight: 700;
  color: #ffffff;
}