@import url("//cdn.web-fonts.ge/fonts/alk-tall-mtavruli/css/alk-tall-mtavruli.min.css");
body {
	background-color: #2456ca !important;
    padding-top: 100px;
      font-family: "ALK Tall Mtavruli", sans-serif;
}
header {
	background-color: #273bf0;
	padding: 20px 0;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 100;
}
.active{
    text-decoration: none !important;
	color: #fff428 !important;
	text-transform: uppercase;
	font-size: 35px;
	font-weight: 550;
    font-family: "ALK Tall Mtavruli", sans-serif;
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}
.active::after {
    text-decoration: none;
  content: "";
  position: absolute;
  width: 0%;
  height: 4px;
  bottom: -5px;
  left: 0;
  background-color: #fff428;
  transition: width 0.3s ease-in-out;
}
.active:hover::after {
  width: 100%;
}

.navigation{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.headerwords {
    text-decoration: none !important;
	color: rgb(255, 255, 255) !important;
	text-transform: uppercase;
	font-size: 35px;
	font-weight: 550;
    font-family: "ALK Tall Mtavruli", sans-serif;
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.headerwords::after {
    text-decoration: none;
  content: "";
  position: absolute;
  width: 0%;
  height: 4px;
  bottom: -5px;
  left: 0;
  background-color: #fff428;
  transition: width 0.3s ease-in-out;
}

.headerwords:hover::after {
  width: 100%;
}

.logo1{
	height: 80px;
	width: 80px;
}
li {
	margin-right: 40px;
}

ul{
  display: flex;
}
.burger-icon{
  display: none;
}

.contact-main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  background-color: #1e56d8; /* or match your main body color */
  padding: 40px 20px;

}

.contact-card {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 500px;
  width: 100%;
  font-family: "ALK Tall Mtavruli", sans-serif;
  border: 5px solid #0805ab
}

.contact-card h2 {
  margin-bottom: 0px;
  font-size: 40px;
  color: #ffe120;
}

.contact-card p {
  font-size: 20px;
  line-height: 1.6;
  color: #000;
  margin: 10px 0;
}

.contact-card a {
  color: #003366;
  text-decoration: none;
}

.contact-card a:hover {
  text-decoration: underline;
}

.contact-logo {
  width: 120px;
  margin-bottom: 15px;
}
.form-container {
  background-color: #052273; /* dark blue */
  border: 5px solid #fff41d;
  padding: 40px;
  width: 500px;
  height: 630px;
  margin-left: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

form input,form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-family: "ALK Tall Mtavruli", sans-serif;
}

form textarea {
  min-height: 170px;
}

form button {
  background-color: #ffd220;
  color: rgb(57, 68, 223);
  border: none;
  padding: 12px 20px;
  font-size: 25px;
  font-weight: 700;
  width: 400px;
  font-family: "ALK Tall Mtavruli", sans-serif;
  border-radius: 6px;
  cursor: pointer;
}

iframe {
  display: block;
  border: none;
}

.map-container {
  max-width: 1020px;
  margin: 40px auto;
  border-radius: 10px;
  overflow: hidden;
  border: 5px solid #041e87;
  background-color: #1b4fe0;
}

.map{
  background-color: #2456ca;
}
.bottom {
  height: 250px;
  width: 100%;
  background-color: #02204f;
}

.line1 {
  display: inline-block;
  vertical-align: top;
}

.line1-p {
  margin-left: 137px;
  margin-top: 60px;
  font-size: 25px;
  font-family: "ALK Tall Mtavruli", sans-serif;
  font-weight: 700;
  color: #ffffff;
}

.line1-p-2 {
  margin-left: 137px;
  margin-top: 14px;
  font-size: 25px;
  font-family: "ALK Tall Mtavruli", sans-serif;
  font-weight: 700;
  color: #ffffff;
}

.liltxt{
  display: inline-block;
  vertical-align: top;
  margin-left: 112px;
  margin-top: 60px;
}

.phrase {
  font-size: 12px;
  font-family: "ALK Tall Mtavruli", sans-serif;
  font-weight: 400;
  color: white;
}

.logo2{
	display: inline-block;
	vertical-align: text-top;
	margin-left: 100px;
	margin-top: 120px;
}

.logo-tbc{
	display: inline-block;
	vertical-align: top;
height: 40px;
width: 110px;
}
.logo-geolab{
  vertical-align: top;
  height: 40px;
  width: 30px;
  
}
.line {
  display: inline-block;
  height: 40px;
  width: 5px;
  background-color: rgb(255, 255, 255);
  margin-left: 15px;
  margin-right: 15px;
  
}
.line2 {
  display: inline-block;
  vertical-align: top;
}

.line2-p {
  margin-left: 96px;
  margin-top: 60px;
  font-size: 25px;
  font-family: "ALK Tall Mtavruli", sans-serif;
  font-weight: 700;
  color: #ffffff;
}

.line2-p-2 {
  margin-left: 96px;
  margin-top: 14px;
  font-size: 25px;
  font-family: "ALK Tall Mtavruli", sans-serif;
  font-weight: 700;
  color: #ffffff;
}